.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
}

.row-action {
  text-align: left;
  width: 250px;
}

.btn-edit,
.btn-save,
.btn-cancel,
.btn-delete,
.btn-details {
  display: inline-block;
  width: 110px;
}

* {
  box-sizing: border-box;
}

.form1 {
  padding: 1em;
  background: #f9f9f9;
  border: 1px solid #c1c1c1;
  margin-top: 2rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
.form1 input {
  margin-bottom: 1rem;
  background: #fff;
  border: 1px solid #9c9c9c;
}
.form1 button {
  background: lightgrey;
  padding: 0.7em;
  border: 0;
}
.form1 button:hover {
  background: gold;
}

label {
  text-align: right;
  display: block;
  padding: 0.5em 1.5em 0.5em 0;
}

input {
  width: 100%;
  padding: 0.7em;
  margin-bottom: 0.5rem;
}
input:focus {
  outline: 3px solid gold;
}

p {
  border: 1px solid #ffffff;
  text-align: center;
  padding: 0px;
  font-size: 20px;
}
.search-box {
  float: none;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

@media (min-width: 400px) {
  .form1 {
    overflow: hidden;
  }

  label {
    float: left;
    width: 200px;
  }

  input {
    float: left;
    width: calc(100% - 200px);
  }

  .btn-form {
    float: right;
    width: calc(100% - 200px);
  }
}
